<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/menu.html">

<head>
    <title>Matrículas - Codegol</title>
</head>

<body>
<div layout:fragment="content">
    <br>

    <!-- BARRA SUPERIOR -->
    <div class="barra-top">
        <div class="barra-busqueda">
            <form method="get" action="/matriculas">
                <!-- Búsqueda por texto (observaciones) -->
                <input type="text"
                       name="q"
                       placeholder="Buscar por observaciones..."
                       th:value="${q}"
                       style="margin-bottom: 15px;">

                <!-- Búsqueda por fecha de matrícula -->
                <input type="date" name="fecha" value="" style="margin-bottom: 15px;">

                <button type="submit" style="margin 1px;" class="boton-registrar">Buscar</button>
            </form>
        </div>
    </div>

    <!-- BOTÓN PARA DESCARGAR PDF Y REGISTRAR MATRÍCULA-->
    <div style="margin: 10px 0; display: flex; gap: 12px; align-items: center;">

        <div style="flex: 1;">
            <a href="/matriculas/nuevo" class="boton-registrar" style="display: inline-block; width: 100%; text-align: center;">
                Registrar matrícula
            </a>
        </div>

        <div style="flex: 1;margin-left: 20px;">
            <form action="/reporte/matriculas/pdf" method="get" style="margin: 0;">
                <button type="submit" class="boton-registrar" style="width: 100%;">
                    Descargar PDF
                </button>
            </form>
        </div>

    </div>

    <!-- TABLA -->
    <table>
        <thead>
        <tr>
            <th>ID Matrícula</th>
            <th>Fecha Matrícula</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Estado</th>
            <th>Observaciones</th>
            <th>Categoría</th>
            <th>Nivel</th>
            <th>ID Jugador</th>
            <th>Registrado por</th>
            <th>Acciones</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="m : ${matriculas}">
            <td th:text="${m.id_matricula}"></td>
            <td th:text="${m.fecha_matricula}"></td>
            <td th:text="${m.fecha_inicio}"></td>
            <td th:text="${m.fecha_fin}"></td>
            <td th:text="${m.estado} ? 'Activo' : 'Inactivo'"></td>
            <td th:text="${m.observaciones}"></td>
            <td th:text="${m.categoria}"></td>
            <td th:text="${m.nivel}"></td>
            <td th:text="${m.id_jugador.nombre_completo}"></td>
            <td th:text="${m.id_usuario.nombre_completo}"></td>

            <td class="acciones">
                <button class="actualizar"
                        th:onclick="'location.href=\'/matriculas/editar/' + ${m.id_matricula} + '\''">
                    Actualizar
                </button>

                <button class="eliminar">
                    <a style="color: inherit; text-decoration: none;"
                       th:href="@{/matriculas/eliminar/{id}(id=${m.id_matricula})}">
                        Eliminar
                    </a>
                </button>


                <!-- Formulario para descargar el PDF de la matrícula individual -->
                <form th:action="@{/reporte/matricula/{id}/pdf(id=${m.id_matricula})}" method="get">
                    <button type="submit" class="boton-registrar">
                        Descargar Matrícula
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>
