<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/menu.html">

<head>
    <title>Matrículas - Codegol</title>
</head>

<body>
<div layout:fragment="content">
    <div class="barra-top">
        <div class="barra-busqueda">
            <input type="text" placeholder="Buscar pago...">
        </div>

        <a href="/pago/registrar" class="boton-registrar">Registrar pago</a>

        <form th:action="@{/reporte/pago/pdf}" method="get">
            <button type="submit" class="boton-registrar">Descargar PDF</button>
        </form>
    </div>

    <!-- TABLA DINÁMICA -->
    <table>
        <thead>
        <tr>
            <th>ID Pago</th>
            <th>Concepto</th>
            <th>Fecha Pago</th>
            <th>Método Pago</th>
            <th>Valor Total</th>
            <th>Observaciones</th>
            <th>Pago por (ID)</th>
            <th>ID Matrícula</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pago : ${listaPagos}">
            <td th:text="${pago.idPago}"></td>
            <td th:text="${pago.conceptoPago}"></td>
            <td th:text="${pago.fechaPago}"></td>
            <td th:text="${pago.metodoPago}"></td>
            <td th:text="${pago.valorTotal}"></td>
            <td th:text="${pago.observaciones}"></td>
            <td th:text="${pago.usuario != null ? pago.usuario.nombre_completo : 'Sin usuario'}"></td>
            <td th:text="${pago.matricula != null && pago.matricula.id_jugador != null ? pago.matricula.id_jugador.nombre_completo : 'Sin jugador'}"></td>
            <td class="acciones">
                <a th:href="@{'/pago/editar/' + ${pago.idPago}}">
                    <button class="actualizar">Actualizar</button>
                </a>
                <a th:href="@{'/pago/eliminar/' + ${pago.idPago}}">
                    <button class="eliminar">Eliminar</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>


</div>
</body>
</html>

