<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title layout:title-pattern="$CONTENT_TITLE"></title>

    <link rel="stylesheet" href="/css/style_forms.css">
</head>
<body>

<header>
    <a href="/usuarios" class="logo">
        <img src="/imagenes/logo.jpg" alt="Logo Escuela de Fútbol Pinze" />
    </a>

    <a href="/usuarios" class="volver">Volver</a>
</header>

<div class="login-box" layout:fragment="content">
<!--Contendio-->
</div>

</body>
</html>