<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/menu.html">

<head>
    <title>Asistencia Entrenamiento</title>
</head>

<body>
<div layout:fragment="content">

    <h1>Asistencia del Entrenamiento</h1>

    <div>
        <strong>ID:</strong> <span th:text="${entrenamiento.id_entrenamiento}"></span><br>
        <strong>Descripción:</strong> <span th:text="${entrenamiento.descripcion}"></span><br>
        <strong>Fecha:</strong> <span th:text="${entrenamiento.fecha}"></span><br>
        <strong>Lugar:</strong> <span th:text="${entrenamiento.lugar}"></span><br>
    </div>



    <hr>

    <!-- FORMULARIO AGREGAR JUGADOR -->
    <form th:action="@{/asistencia/agregar}" method="post">
        <input type="hidden" name="id_entrenamiento" th:value="${entrenamiento.id_entrenamiento}"/>
        <h3>
            <label>Agregar jugador:</label>
        </h3>

        <!-- BUSCADOR -->
        <div class="barra-top">
            <div class="barra-busqueda">

            <input type="text" id="buscadorJugador"
                   placeholder="Buscar jugador por nombre o documento"
                   >
            </div>
            <a th:href="@{/entrenamientos}" class="boton-registrar" >Volver</a>

        </div>
        <!-- SELECT FILTRABLE -->
        <div class="barra-top">
            <select name="id_matricula" id="selectJugadores"
                    class="barra-busqueda">
                <option value="">Seleccione un jugador</option>

                <option th:each="m : ${matriculas}"
                        th:value="${m.id_matricula}"
                        th:text="${m.id_jugador.nombre_completo + ' — ' + m.id_jugador.num_identificacion}">
                </option>
            </select>

            <button type="submit" class="boton-registrar" >Agregar</button>
        </div>



    </form>

    <!-- SCRIPT PARA BUSCAR -->
    <script>
        const buscador = document.getElementById("buscadorJugador");
        const select = document.getElementById("selectJugadores");

        buscador.addEventListener("keyup", function () {
            const filtro = this.value.toLowerCase();

            for (let i = 0; i < select.options.length; i++) {
                const texto = select.options[i].text.toLowerCase();
                select.options[i].style.display = texto.includes(filtro) ? "" : "none";
            }
        });
    </script>

    <hr>

    <form th:action="@{/asistencia/guardar}" method="post">

        <!-- MUY IMPORTANTE -->
        <input type="hidden" name="id_entrenamiento" th:value="${entrenamiento.id_entrenamiento}"/>

        <table border="1" width="100%">
            <thead>
            <tr>
                <th>Jugador</th>
                <th>Tipo asistencia</th>
                <th>Justificación</th>
                <th>Observaciones</th>
                <th>Eliminar</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="a : ${asistencias}">
                <td th:text="${a.matricula.id_jugador.nombre_completo}"></td>

                <td>
                    <select th:name="'tipoAsistencia_' + ${a.id_asiste}">
                        <option th:each="t : ${T(com.codegol.codegol.model.DetallesAsiste.TipoAsistencia).values()}"
                                th:value="${t}"
                                th:text="${t.label}"
                                th:selected="${t} == ${a.tipoAsistencia}">
                        </option>
                    </select>
                </td>

                <td>
                    <input type="text" th:name="'justificacion_' + ${a.id_asiste}"
                           th:value="${a.justificacion}">
                </td>

                <td>
                    <input type="text" th:name="'observaciones_' + ${a.id_asiste}"
                           th:value="${a.observaciones}">
                </td>

                <td class="acciones">
                    <button class="eliminar">
                        <a th:href="@{/asistencia/eliminar/{id}(id=${a.id_asiste}, ent=${entrenamiento.id_entrenamiento})}" style="color: inherit; text-decoration: none;">
                            Eliminar
                        </a>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <br>
        <div class="acciones">
            <button type="submit" class="actualizar">Guardar</button>
        </div>
    </form>


</div>
</body>
</html>


