<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/menu.html">

<head>
    <title>Entrenamientos - Codegol</title>
</head>

<body>
<div layout:fragment="content">
    <br>

    <!-- BARRA SUPERIOR -->
    <div class="barra-top">
        <div class="barra-busqueda">
            <form method="get" action="/entrenamientos">
                <input
                        type="text"
                        name="q"
                        placeholder="Buscar por fecha o descripción..."
                        th:value="${q}">
            </form>
        </div>


        <a href="/entrenamientos/nuevo" class="boton-registrar">
            Registrar entrenamiento
        </a>
    </div>

    <!-- TABLA -->
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Descripción</th>
            <th>Fecha</th>
            <th>Lugar</th>
            <th>Hora Inicio</th>
            <th>Hora Fin</th>
            <th>Observacion</th>
            <th>Acciones</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="e : ${entrenamientos}">
            <td th:text="${e.id_entrenamiento}"></td>
            <td th:text="${e.descripcion}"></td>
            <td th:text="${e.fecha}"></td>
            <td th:text="${e.lugar}"></td>
            <td th:text="${e.hora_inicio}"></td>
            <td th:text="${e.hora_fin}"></td>
            <td th:text="${e.observaciones}"></td>

            <td class="acciones">
                <button class="actualizar" style="background-color: green;"
                        th:onclick="'location.href=\'/asistencia/' + ${e.id_entrenamiento} + '\''">
                    Asistencia
                </button>

                <button class="eliminar" style="background-color: green;"
                        th:onclick="'location.href=\'/utiliza/' + ${e.id_entrenamiento} + '\''">
                    Utiliza
                </button>
            </td>

            <td class="acciones">
                <button class="actualizar"
                        th:onclick="'location.href=\'/entrenamientos/editar/' + ${e.id_entrenamiento} + '\''">
                    Actualizar
                </button>
                <button class="eliminar">
                    <a style="color: inherit; text-decoration: none;"
                       th:href="@{/entrenamientos/eliminar/{id}(id=${e.id_entrenamiento})}">
                        Eliminar
                    </a>
                </button>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>


