<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/menu.html">

<head>
    <title>Usuarios - Codegol</title>
</head>
<body>

  <div layout:fragment="content">

    <div class="barra-top">
      <div class="barra-busqueda">
        <input type="text" placeholder="Buscar usuario...">
      </div>
      <a href="/usuarios/nuevo" class="boton-registrar">Registrar nuevo usuario</a>
      <a href="/usuarios/inactivos" class="boton-registrar">Ver inactivos</a>
    </div>
      
    <div th:if="${error}" class="alert alert-danger" role="alert"> <span th:text="${error}"></span> </div>

    <table>
      <thead>
        <tr>
          <th>Correo</th>
          <th>Nombre completo</th>
          <th>Identificación</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
        <tr th:each="usuario : ${usuarios}">
          <td th:text="${usuario.correo}"></td>
          <td th:text="${usuario.nombre_completo}"></td>
          <td th:text="${usuario.num_identificacion}"></td>

          <td class="acciones">
            <button class="ver-mas">
            <a style="color: inherit; text-decoration: none;"
               th:href="@{/usuarios/ver/{id}(id=${usuario.id_usuario})}">
              Ver mas
            </a>
             </button>

             <button class="actualizar">
                <a style="color: inherit; text-decoration: none;"
                   th:href="@{/usuarios/editar/{id}(id=${usuario.id_usuario})}">
                  Actualizar
                </a>
             </button>
              
             <button class="eliminar">
            <a style="color: inherit; text-decoration: none;"
               th:href="@{/usuarios/eliminar/{id}(id=${usuario.id_usuario})}">
              Eliminar
            </a>
              </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- DETALLE EMERGENTE -->
  <div th:each="usuario : ${usuarios}"
       class="ventana-flotante"
       th:id="'detalle-usuario-' + ${usuario.id_usuario}">

    <ul>
      <li><strong>ID Usuario:</strong> <span th:text="${usuario.id_usuario}"></span></li>
      <li><strong>Correo:</strong> <span th:text="${usuario.correo}"></span></li>
      <li><strong>Nombre completo:</strong> <span th:text="${usuario.nombre_completo}"></span></li>
      <li><strong>Identificación:</strong> <span th:text="${usuario.num_identificacion}"></span></li>
      <li><strong>Tipo Doc.:</strong> <span th:text="${usuario.tipo_documento}"></span></li>
      <li><strong>Teléfono 1:</strong> <span th:text="${usuario.telefono_1}"></span></li>
      <li><strong>Teléfono 2:</strong> <span th:text="${usuario.telefono_2}"></span></li>
      <li><strong>Dirección:</strong> <span th:text="${usuario.direccion}"></span></li>
      <li><strong>Género:</strong> <span th:text="${usuario.genero}"></span></li>
      <li><strong>Fecha Nac.:</strong> <span th:text="${usuario.fecha_nacimiento}"></span></li>
      <li><strong>Lugar Nac.:</strong> <span th:text="${usuario.lugar_nacimiento}"></span></li>
      <li><strong>Grupo Sanguíneo:</strong> <span th:text="${usuario.grupo_sanguineo}"></span></li>

      <li><strong>Estado:</strong>
        <span th:text="${usuario.estado ? 'Activo' : 'Inactivo'}"></span>
      </li>

    </ul>

  </div>
  <script src="../../static/js/usuario.js"></script>


</body>
</html>
