<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/menu.html">

<head>
    <title>Usuarios Inactivos - Codegol</title>
</head>
<body>
    <div layout:fragment="content">
    <div class="barra-top">
      <div class="barra-busqueda">
        <input type="text" placeholder="Buscar usuario...">
      </div>

      <!-- Botón con el título correcto -->
      <a href="/usuarios" class="boton-registrar">Volver a activos</a>
    </div>

    <h2 style="margin-top: 10px;">Usuarios inactivos</h2>

    <table>
      <thead>
        <tr>
          <th>Correo</th>
          <th>Nombre completo</th>
          <th>Identificación</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
        <tr th:each="usuario : ${usuarios}">
          <td th:text="${usuario.correo}"></td>
          <td th:text="${usuario.nombre_completo}"></td>
          <td th:text="${usuario.num_identificacion}"></td>

          <td class="acciones">
            <a class="actualizar"
               th:href="@{/usuarios/editar/{id}(id=${usuario.id_usuario})}">
              Actualizar
            </a>

            <a class="eliminar"
               th:href="@{/usuarios/eliminar/{id}(id=${usuario.id_usuario})}">
              Eliminar
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
</body>
</html>
